[submodule "src/http"]
	path = src/http
	url = ../http
[submodule "src/https"]
	path = src/https
	url = ../https
[submodule "src/app"]
	path = src/app
	url = ../app
[submodule "src/public"]
	path = src/public
	url = ../public
[submodule "src/static"]
	path = src/static
	url = ../static
[submodule "src/modules"]
	path = src/modules
	url = ../modules
